*{
    box-sizing: border-box;
    font-family: "Roboto";
}

.navbar-container{
    height: 50px;
    width: 100%;
    background-color: #bad1f53d;
    border-bottom: 1px solid #75a4f079;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.nav-links{
    font-size: 15px;
    font-weight: bold;
    color: #0e63eb;
    cursor: pointer;
    list-style: none;
    border: 1px solid #75a4f079;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;

}

.nav-links:hover{
    border: 1px solid #fff;
    border-radius: 2px;
    color: #000;
    background-color: #fff;
}