*{
    box-sizing: border-box;
    font-family: "Roboto";
}

.navbar-container{
    height: 100px;
    background-color: azure;
    border-bottom: 1px solid #c6d9f7;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-links{
    padding: 0px 20px;
    font-size: 15px;
    font-weight: bold;
    color: #0e63eb;
    cursor: pointer;

}